@import "tailwindcss";

:root {
  --background: #343437;
  --foreground: #caa063;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-slabo: var(--font-slabo);
  --font-athelas-regular: var(--font-athelas-regular);
  --font-galaxie-polaris-light: var(--font-galaxie-polaris-light);
  --font-galaxie-polaris-medium: var(--font-galaxie-polaris-medium);
  --font-galaxie-polaris-bold: var(--font-galaxie-polaris-bold);
}

@theme {
  --animate-fade-in: fade-in 1.2s ease-out both;
  --animate-slide-up: slide-up 0.8s ease-out both;
  --animate-slide-down: slide-down 0.8s ease-out both;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(80px);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.default-color {
  color: var(--foreground)
}

.default-bg-color {
  background-color: var(--background)
}

header {
  @apply text-[#E55031]
}

.desktop_menu {
  @apply flex items-center uppercase tracking-[2px] border-t border-[#E55031]
}

.desktop_menu li {
  @apply border-r border-[#E55031] text-xs font-athelas-regular px-5 h-full flex items-center transition-all duration-300 hover:text-white
}

.desktop_menu li:last-child {
  @apply border-r-0;
}

.master_slider .swiper-pagination {
  @apply flex gap-3 items-center justify-center
}

.master_slider .swiper-pagination-bullet {
  @apply bg-white w-3 h-3 opacity-100 transition-all duration-300
}

.master_slider .swiper-pagination-bullet-active {
  @apply bg-[var(--foreground)] w-5 h-5
}

.privacy_policy ul {
  @apply list-disc list-inside px-5
}

.enquiry_form {
  @apply text-base flex flex-col gap-10 font-galaxie-polaris-medium
}

.enquiry_form input, .enquiry_form select, .enquiry_form textarea {
  @apply w-full outline-0 py-2 border-b placeholder:text-current appearance-none
}